.sidebar {
  display: block;
  width: 300px;
  position: fixed;
  top: 40px;
  left: 20px;
  opacity: 0.5;
  transition: all 0.1s ease-out;
}
.sidebar:hover {
  opacity: 1;
  transition: all 0.1s ease-out;
}
.sidebar ol {
  list-style-type: none;
}
.sidebar li {
  margin: 6px 0;
  line-height: 20px;
  font-size: 15px;
}
a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}
.sidebar ol ol li a {
  margin-left: 10px;
  color: #777;
  font-weight: normal;
}
.sidebar ol:first-child li {
  font-size: 17px;
  font-weight: bold;
}
.span div {
  font-size: 40px;
}